/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
}

label {
  font-weight: bold;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

.label {
  margin: 0.5em;
}

@media (min-width: 40em) {
  .col-value-header {
    width: 120px;
    text-align: right
  }

  .col-value {
    text-align: right !important;
  }

  .col-date-header {
    width: 120px;
  }

  .col-date {
    text-align: center !important;
  }

  .col-actions-header {
    width: 150px;
  }

  .col-actions {
    width: 150px;
    text-align: center !important;
  }

  .col-actions .p-button {
    margin: 5px;
  }
}
