<div class="container">

  <div class="grid">

    <div class="col-12">
      <h1>Releases</h1>
    </div>

    <div class="col-12 p-fluid">
      <label>Description</label>
      <input pInputText type="text">
    </div>

    <div class="col-12">
      <label style="display: block">Due date</label>
      <input pInputText type="text" style="width: 95px">

      <label>Until</label>
      <input pInputText type="text" style="width: 95px">
    </div>

    <div class="col-12">
      <button pButton pRipple label="Submit"></button>
    </div>

  </div>

  <div class="grid">

    <div class="col-12">
      <p-table [value]="releases">
        <ng-template pTemplate="header">
          <tr>
            <th>Person</th>
            <th>Description</th>
            <th class="col-date-header">DueDate</th>
            <th class="col-date-header">Payment</th>
            <th class="col-value-header">Value</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-releases>
            <tr>
                <td>{{ releases.person }}</td>
                <td>{{ releases.description }}</td>
                <td class="col-date-content">{{ releases.dueDate }}</td>
                <td class="col-date-content">{{ releases.paymentDate }}</td>
                <td class="col-value-content">{{ releases.value }}</td>
            </tr>
        </ng-template>
      </p-table>
    </div>

  </div>

</div>
